@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Peddana&display=swap');
body.dark {
    background-color: #333;
    color: #fff;
}

.user-name {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #a1f2a4; 
    margin-right: 10px; 
    display: inline-block; 
  }
  
  .logout-button {
    font-size: 1rem; 
    color: #ffffff; 
    background-color: #f44336;
    border: none; 
    border-radius: 5px; 
    padding: 8px 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #e45e5e; 
  }
  
  .logout-button:active {
    background-color: #e82020; 
  }
.nav-menu {
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #686867;
    width: 100%;

}

.nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none; 
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    margin-top: 10px;
    padding: 0 20px;
}


.nav-links li {
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav-links a, .nav-links button {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-links a:hover, .nav-links button:hover {
    color: black;
    transform: scale(1.1);
}

.iconImg{
    width: 3rem;
    transition: all 0.2s;

}
.iconImg:hover{
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}
.login-link {
    color: #0073e6;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: #f0f0f0;
    color: #333;
}

.register-link {
    color: #fff;
    background-color: #ff6347; 
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.register-link:hover {
    background-color: #e5533c;
}
  


@media (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        gap: 10px;
        width: 250px;
        padding-top: 60px;
        transition: transform 0.3s ease;
        transform: translateX(-100%); 
    }

    .nav-links.show {
        display: flex;
        transform: translateX(0);
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
    }
}
  