.allContainer{
    height: 100vh; 
}
.lgB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.buttonVoice{
    position: sticky;
    top: 10px;

    margin: 10px;
}


/* === removing default button style ===*/
.button {
    background-color: green;
    padding: 2.2rem;
    margin: 2.2rem;
    border-radius: 10%;
    height: auto;
    border: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Arial";
    letter-spacing: 3px;
    color: transparent;
    -webkit-text-stroke: 2px rgba(251, 255, 0, 0.967); /* Stroke around text */
  }
  
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: #37FF8B; /* Animation color */
    width: 0%;
    inset: 0;
    border-right: 6px solid #37FF8B;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px #37FF8B; /* Stroke effect on hover */
  }
  
  /* hover effect */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px #37FF8B);
  }
  
  /* Optional: additional styles for the container */
  .buttonAcc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    padding: 10px;
  }