.btn-leer {
    width: auto;
    background-color: #4CAF50; 
    color: white;
    border-radius: 20px; 
    font-size: 16px; 
    padding: 10px 20px; 
    position: absolute;
    bottom: 20px;
    right: 20px; 
    cursor: pointer;
    border: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btn-leer:hover {
    background-color: #45a049; 
    transform: scale(1.05);
}

.btn-leer:active {
    transform: scale(0.95);
}
