/* FooterPage.css */
@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Peddana&display=swap');

.footer {
  background-color: #2c3120;
  color: #f5f5f5;
  padding: 20px;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social-section {
  margin-bottom: 15px;
  margin-top: 15px;
}


.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #61dafb;
  font-size: 24px;
  text-decoration: none;
}

.about-section {
  max-width: 400px;
  line-height: 1.6;
  margin: 10px 0;
}

.about-section strong {
  color: #61dafb;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
