@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.logo {
    font-family: "Aubrey", system-ui;
    font-weight: 2000;
    font-style: normal;
}
  